.contenido_general{
	width: 100%;
	background:#E5E5E5;
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap:20px; 
	position: relative;
}



.busqueda{
	width: 400px;
	padding: 12px;	
	font-size:16px;
	outline: none;
	border:none;
	border-radius: 12px;
	border:solid 1px #d8d8d8;
	width: 100%;
}


.btn{
	border:none;
	border-radius: 4px;
	padding: 8px 12px;
	font-size:16px;
	color:white;
	cursor:pointer;
}
.btn_agregar{
	background:#1064CF;
	width: 140px;
	display: flex;
	align-items: center;
	gap:4px;
}

.btn_agregar svg{
	width: 28px;
	height: 28px;
	fill:white;
}
.contenedorTabla{
	height: 100%;
	background: white;
	display: flex;
	flex-direction: column;
}


.mensajetablaVacia{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	color:#bdbdbd;
	font-size: 3em;
	background: white;
	border:solid 1px #D2D2D2;
	border-top:none;

}


